
/* begin Box, Sheet */
.Sheet-tl
{
	clip: rect(auto 15px 15px auto);
}

.Sheet-tr
{
	clip: rect(auto auto 15px 15px);
}

.Sheet-bl
{
	clip: rect(15px 15px auto auto);
}

.Sheet-br
{
	clip: rect(15px auto auto 15px);
}

.Sheet-tc
{
	clip: rect(auto auto 15px auto);
}

.Sheet-bc
{
	clip: rect(15px auto auto auto);
}

.Sheet-cr
{
	clip: rect(auto auto auto 15px);
}

.Sheet-cl
{
	clip: rect(auto 15px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 875px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 894px);
}
/* end BlockHeader */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
a.Button .btn .r,
button.Button .btn .r
{
	clip: rect(auto auto auto 399px);
}
/* end Button */

